<% include header.html %>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-sm-9" style="background-color:#888888;height: 750px">

            <div class="col-sm-4 text-left">

                <ul>
                    <li style="margin: 30px"><img src="/images/background/tx.jpg" class="img-circle" style="width:100px"></li>
                    <li style="margin: 30px"><font size="5" color="white">姓名:高旭旭</font></li>
                    <li style="margin: 30px"><font size="5" color="white">职业:程序员</font></li>
                    <li style="margin: 30px"><font size="5" color="white">擅长:JAVA、PHP、NodeJs、React-Native、Python、Scala</font></li>
                    <li style="margin: 30px"><font size="5" color="white">爱好:技术狂,新技术追求者</font></li>
                    <li style="margin: 30px"><font size="5" color="white">正在筹划做PHP基于注解的AOP框架</font></li>
                </ul>


            </div>
            <div class="col-sm-8 text-left">

                <ul>

                    <li style="margin-top: 100px"><font size="5" color="white">开源作品</font></li>
                    <li style="margin: 30px"><font size="5" color="white">PHP</font></li>
                    <li style="margin: 30px"><font size="3" color="white">1.yii2整合的后天rbac管理系统:http://git.oschina.net/xuxu.gao/Yii-backadmin</font></li>
                    <li style="margin: 30px"><font size="3" color="white">2.laravel5做的支付宝的第三方扩展:https://github.com/gaoxuxu123/laravel-alipay</font></li>
                    <li style="margin: 30px"><font size="3" color="white">3.yii2做的smarty的第三方扩展:https://github.com/gaoxuxu123/yii-smarty</font></li>
                    <li style="margin: 30px"><font size="5" color="white">NodeJs</font></li>
                    <li style="margin: 30px"><font size="3" color="white">1.nodejs做的博客系统:http://git.oschina.net/xuxu.gao/nodejs_blog</font></li>
                </ul>

            </div>

        </div>
        <div class="col-sm-3">

            <% include right.html %>

        </div>
    </div>
</div>
<% include footer.html %>